
main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

table {
    width: 50%;
    margin: 20px 0 40px;
}

thead {
    background: black;
    color: white;
    font-weight: bold;
}

td, th {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
    
}


.input-standart {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.label-checkbox {
    margin: 20px 0;
}

.submit {
    width: 50%;
    padding: 15px 0;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}
.submit:hover {
    background: rgb(228, 142, 5);
    transform: scale(1.2);

}

.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.products li {
    margin: 0 1.5%;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.products li:hover {
    border-color: #c78c19;
}

.products li:active {
    border-color: seagreen;
}

.products li:hover h2 {
    font-size: 34px;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.description-product {
    font-size: 18px;
}

.price-product {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}